
/**/*.example
/.dbimageBuild
/.dbimageExtra
/.ddev-docker-*.yaml
/.*downloads
/.global_commands
/.homeadditions
/.sshimageBuild
/.webimageBuild
/.webimageExtra
/apache/apache-site.conf
/commands/.gitattributes
/commands/db/mysql
/commands/host/launch
/commands/web/xdebug
/commands/web/live
/config.*.y*ml
/db_snapshots
/import-db
/import.yaml
/nginx_full/nginx-site.conf
/sequelpro.spf
/**/README.*
!/README.md

# Additional docker-compose file
/docker-compose.varnish.yaml
/docker-compose.crowdsec.yaml
/docker-compose.playwright.yaml
/docker-compose.portainer.yaml
/docker-compose.selenium.yaml

# Varnish
/varnish/default.vcl

# Portainer
/portainer-data/*


